Repository lordcodes/imagecram, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, documentation, tests

Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: repo

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Create new issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  CONTRIBUTING.md
Labels: repo

Add developing section to CONTRIBUTING
  CONTRIBUTING.md
Labels: repo

Add a README
  README.md
Labels: repo, documentation

Update issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: none

Output to a new folder
  Sources/ImageCramCLI/CommandLineError.swift
  Sources/ImageCramCLI/FileMover.swift
  Sources/ImageCramTasks/Shell.swift
Labels: none

Output to a new folder (#6)
  Sources/ImageCramCLI/CommandLineError.swift
  Sources/ImageCramCLI/FileMover.swift
  Sources/ImageCramTasks/Shell.swift
Labels: none

Uninstall script deletes config
  Sources/ImageCramTasks/main.swift
Labels: none

Uninstall script deletes config (#7)
  Sources/ImageCramTasks/main.swift
Labels: none

Remove unused argument
  Sources/ImageCramCLI/FileMover.swift
  Sources/ImageCramCLI/ImageCramCommand.swift
Labels: none

Print instructions for obtaining API key
  Sources/ImageCramCLI/ApiKeyRepository.swift
Labels: none

Print API key instructions (#9)
  Sources/ImageCramCLI/ApiKeyRepository.swift
  Sources/ImageCramCLI/FileMover.swift
  Sources/ImageCramCLI/ImageCramCommand.swift
Labels: none

Add logo and touch-ups to README
  .github/PULL_REQUEST_TEMPLATE.md
  Art/logo.png
  CONTRIBUTING.md
  Design/logo.xcf
  README.md
Labels: repo, documentation

Add social image
  Art/social.png
  Design/social.xcf
Labels: none

Update README.md
  README.md
Labels: repo, documentation

Add contributing shortcut
  README.md
Labels: repo, documentation

Update README.md (#10)
  README.md
Labels: repo, documentation

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
  - ./*

documentation:
  - README.md

tests:
  - Tests/**/*
